| {% include nav.html %}
section.jumbotron.hero.jumbotron-fluid
    .container
        h1.lead.animated.fadeInUp
            | Unleash Your Potential
        .col-8.animated.fadeInLeft
            p
                | Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec sollicitudin molestie malesuada. Nulla porttitor accumsan tincidunt.
            a.btn.btn-cta
                | Who are we?
    
