section.services
    .container
        .row
            .col-sm.animated
                i.ti-marker-alt
                h2 Marketing
                p Soluta consequat no has. Has ex deleniti consulatu, tamquam interpretaris sit ex vivendum ullamcorper et his.
            .col-sm.animated
                i.ti-camera
                h2 Photography
                p Soluta consequat no has. Has ex deleniti consulatu, tamquam.
            .col-sm.animated
                i.ti-mobile
                h2 Apps
                p Soluta consequat no has. Has ex deleniti consulatu, tamquam interpretaris sit ex vivendum ullamcorper et his.
        .row
            a(href="#").btn.btn-cta.mx-auto
                | Launch Project Now