section.services
    margin-bottom: 60px
    @media (min-width: 768px)
        padding-top: 120px
        padding-bottom: 120px
    i
        padding: 25px
        background: $primaryLight
        margin: 45px auto
        display: inline-block
        color: $white
    h2
        color: $primaryLight
        font-size: 3rem
        margin-bottom: 60px
        text-transform: uppercase
    .col
        animation-duration: 2s
    .btn.btn-cta
        border: 2px solid $primaryLight
        text-transform: uppercase
        font-family: 'Lato', sans-serif
        margin-top: 48px
        color: $primaryDark
        padding: 15px 25px
        border-radius: 15px
        @media (min-width: 768px)
            padding: 25px 100px
            border-radius: 30px
        &:hover, &:focus
            background-color: $primaryLight